:host {
  display: block;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card{
  background-color: #3d3f45;
  padding: 0.5rem;
  border-radius: 8px;
}
.header{
  margin-bottom: 0.5rem;
}

.header h3{
  color: white;
  text-align: center;
}

.grid .img{
  width: 100%;
}

.footer{
  display: flex;
  justify-content: center;
}

.footer-details{
  width: 100% !important;
  color: rgb(255, 255, 255);
  text-align: center;
  transition: scale ease 0.3s;
}

.footer-details:hover{
  cursor: pointer;
  scale: 1.2;
  color: #53cc43;
}

.loading{
  padding: 2rem;
  background-color: #53cc43;
  border-radius: 8px;
}
